{%extends 'base.html'%}
{ %load static%}

{%block content%}
<div class="container-fluid intro-section">
 <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 text-center hello-section">
        <h1 class="welcome"> WELCOME<br> THIS IS WALLCRAFT</h1>
        <p>My name is Wambui, and I find expression in dark, grudge aestheic art. <br> View my collection of photos , on these lonely walls!</p>
        <a href="display/"> <button class="btn btn-home">View Photo Gallery</button></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <img class="img-responsive bg1" src="/static/images/grudge1.jpg" alt="Hi!">
    </div>
{%endblock%}
    </div>    
 </div>
</div>