{%extends 'base.html'%}
{ %load%}

{%block content%}
<div class="container-fluid home-page">
 <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 text-center welcome-section">
        <h1 class="welcome"> WELCOME<br> THIS IS WALLCRAFT</h1>
        <p>My name is Wambui, and I find expression in dark, grudge aestheic art. <br> View my collection of photos that speak to my soul, on these lonely walls!</p>
        <a href=" {% url 'display' %} "> <button class="btn btn-home">View Gallery</button></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center bgphoto-section">
        <!-- background photo -->
        <img src="{%static /grudge1.jpg%}" alt="bgphoto" class="img-responsive bgphoto">

    </div>    
 </div>
</div>